/*
COLOR CODE ALL THE FOODS
*/
.fridge li {
  list-style-type: none;
}

.never {
  color: black;
  text-decoration: line-through;
}

.immediately {
  color: red;
}

.soon {
  color: orange;
}

.later {
  color: green;
}

.eventually {
  color: darkgreen;
}

.picked-true {
  margin-left: 10px;
}

.picked-true:before {
  content:"> ";
}