<ul class="navigation">
  <li><a ui-sref="add">Add to my fridge</a></li>
  <li><a ui-sref="view">View my fridge</a></li>
</ul>
<div>
  <form ng-submit="addToFridge()">
    Food:  <input type="text" ng-model="addFood.name" required> 
    <br />
    Category: 
    <select name="category" ng-model="addFood.category" required>
      <option ng-repeat="(k, v) in expiry">{{k}}</option>
    </select>
    <span ng-if="isCustom(addFood.category)"> 
      expiration date: 
      <input type="date"  ng-model="addFood.custom" required>
    </span>
    <br />
    Date fridged: <input type="date" ng-model="addFood.startDate" required> 
    <br />
    <button>Add to my fridge!</button>
  </form>
</div>