<div>
  <form ng-submit="addToFridge()">
    Food:
    <input type="text" ng-model="addFood.name"> <br />
    Category: 
    <select name="category" ng-model="addFood.category" >
      <option ng-repeat="(k, v) in expiry">{{k}}</option>
    </select><br />
    Date fridged:
    <input type="date" ng-model="addFood.startDate"> <br />
    <button>Add to my fridge!</button>
  </form>
  <!--   <h3>Food preview! (temporary...)</h3>
  <b>Food: </b>{{addFood.name}} <br>
  <b>Category: </b>{{addFood.category}} <br>
  <b>Date fridged: </b>{{addFood.startDate}} <br> -->
</div>